@model ASP.NET_Exam.Models.EmployeeModel
@{
}
<div class="container">
    @using (Html.BeginForm(FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="mb-3">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Rank)
            @Html.TextBoxFor(m => m.Rank)
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.DepartmentId)
            @Html.TextBoxFor(m => m.DepartmentId)
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>